/*
COLOR PALETTE
lightgreen: rgb(210, 239, 232)
green: rgb(95, 198, 173)
yellow: rgb(217, 255, 102)
blue: rgb(52, 75, 201)
*/

/* Reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 540px;
}

main {
    padding: 16px;
}

body {
    padding: 16px;
    font-family: "Inconsolata", monospace;
    background-color: rgb(210, 239, 232);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    color: black;
    text-align: center;
}

.panel {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    padding: 16px;
    border-radius: 16px;
    background-color: rgb(95, 198, 173);
}

.empty-list-msg {
    text-align: center;
    font-weight: bold;
}

#expenses-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.expense-item {
    display: flex;
    align-items: center;
    list-style-type: none;
    width: 30vw;
    background-color: rgb(255, 255, 255);
    margin: 16px;
    border-radius: 16px;
}
.expense-modify {
    cursor: pointer;
    padding: 16px;
    border-radius: 16px 0px 0px 16px;
    background-color: rgb(217, 255, 102);
}
.expense-check {
    cursor: pointer;
    padding: 16px;
    border-radius: 0px 16px 16px 0px;
    background-color: rgb(217, 255, 102);
}

.expense-text-date {
    padding: 8px 16px;
    width: 6vw;
}
.expense-text-movement {
    padding: 8px 16px;
    width: 10vw;
}
.expense-text-cash {
    padding: 8px 16px;
    width: 8vw;
}
.expense-text-category {
    padding: 8px 16px;
    width: 6vw;
}

.add-expense {
    display: flex;
    gap: 8px;
    margin-top: 16px;
}

input {
    font-size: 16px;
    padding: 16px;
    border-radius: 8px;
    border: none;
    flex-grow: 1;
    margin: 5px;
}

select {
    margin: 5px;
}

button {
    cursor: pointer;
    padding: 16px;
    border: none;
    border-radius: 16px;
    background-color: rgb(217, 255, 102);
}

.categoriesDropdown {
    position: relative;
    display: inline-block;
    font-size: 16px;
    padding: 16px;
    border-radius: 8px;
    border: none;
    flex-grow: 1;
}

.add-popup {
    display: none;
}

.add-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(210, 239, 232);
}

.cancel-button {
    background-color: red;
    display: none;
    width: 96px;
    height: 96px;
}

.open-button {
    width: 96px;
    height: 96px;
}

#btnDeleteAll {
    width: 96px;
    height: 96px;
}

.CRUD-buttons {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;

}